[Unit]
Description=Webhook Server

[Service]
ExecStart=/usr/local/bin/webhook -port %i -hooks webhook_%i.yaml -verbose
Restart=on-failure

[Install]
WantedBy=multi-user.target
